.env
.cache/
runtime.env
logs/
*.log
*.log.*
.*.lock
*/syncthing/config/*
*.pem
.terraform/
*.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform.tfstate.lock.info
automation/ollama-aws-hybrid/ansible/open-webui-ec2-instance.yaml
automation/ollama-aws-hybrid/ansible/check.output
automation/ansible/server-admin/inventory/hosts.yml
*.tfstate.*
**/convertx/data/
**/arr-stack/*/
**/home-assistant/*/
**/home-assistant/.*/
**/home-assistant/scripts.yaml
**/home-assistant/automations.yaml
**/home-assistant/configuration.yaml
**/home-assistant/.HA_VERSION
**/home-assistant/*.db-shm
**/home-assistant/*.db-wal
**/home-assistant/scenes.yaml
**/home-assistant/*.db
zigbee.db
app.ini
secrets.yaml
**/immich/postgres/
**/invidious/*/
**/invidious/.ameba.yml
**/invidious/.editorconfig
**/invidious/.gitattributes
**/invidious/.gitmodules
**/invidious/CHANGELOG.md
**/invidious/CHANGELOG_legacy.md
**/invidious/LICENSE
**/invidious/Makefile
**/invidious/TRANSLATION
**/invidious/invidious.service
**/invidious/shard.lock
**/invidious/shard.yml
**/invidious/videojs-dependencies.yml
**/neko/*/
**/open-webui/*/
traefik.yml
pi5.yml
truenas.yml
ubuntu-server-host.yml
ubuntu-server-lan.yml
ubuntu-server-remote.yml
ubuntu-server.yml

